html *
{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.inline-block {
    margin: 0;
    display: inline-block;
}

.parallax {
  /* Set a specific height */
  min-height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.start-chat-modal {
  width: 40%;
}

.create-chat-modal {
  width: 40%
}

.rounded {
  border-radius: 5px;
}

.all-white {
  color: white;
}


.chatroom {
  width: 50%;
  height: 100%;
  background-color: black;
  overflow: hidden;
}

.chatroom h3 {
  background-color: black;
  margin: 0;
  height: 40px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.chatroom h4 {
  background-color: black;
  margin: 0;
  height: 40px;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}


.messages {
  box-sizing: border-box;
  padding: 0 20px;
  margin: 10px 0 0;
  height: 75vh;
  overflow-y: scroll;
}

.message-body div {
  position: relative;
  padding: 5px 13px;
  font-size: 14px;
  border-radius: 10px;
  list-style: none;
  clear: both;
  margin: 10px 0px 0px 0px;
  max-width: 200px;
}

.from-me div {
  background: rgba(255, 255, 255, 0.8);
  float: right;
  clear: both;
}

.not-from-me div {
  background: hsl(210, 50%, 72%);
  float: left;
  clear: both;
}

.not-from-me h6 {
  color: white;
  float: left;
  clear: both;
  margin: 0px 0px;
  font-size: 10px
}

.test {
  display: table;
  width: 100%;
}

.chat-input {
  height: 41px;
  width: 100%;
  background-color: black;
  box-shadow: 0 0 8px 0 rgba(0,0,0, 0.3);
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.chat-input input[type="text"] {
  background: black;
  outline: 0;
  color: white;
  border: 2px solid white;
  padding: 0 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  height: 30px;
  width: 40%;
  font-size: 14px;
  margin: 0 auto;
  /* display: inline; */
}

.chat-input input[type="submit"] {
  background: transparent;
  border: 2px solid white;
  color: white;
  height: 30px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 0 auto;
  /* display: inline; */
}

.chat-input input[type="submit"]:hover {
  background: black;
  color: hsl(210, 50%, 72%);
}

.start-chat-form input[type="submit"] {
  border-radius: 5px;
  background-color: white;
}
